body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 20px;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    margin-top: 1em;
}

.analyze {
    margin-top: 1em;

}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 18px;
}


button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #008000;
    font-size: 13px;
    color: #008000;
}
button.choose-file-button:hover {
    background-color: #4CAF50; /* Green */
    color: white;

}

button.analyze-button {
    width: 200px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px rgb(69, 122, 219);
    font-size: 13px;
    color: rgb(69, 122, 219);
}

button.analyze-button:hover {
    background-color: rgb(69, 122, 219); /* Green */
    color: white;

}


.feedback-buttons{
    display:flex;
    justify-content: center;

}

button.right-button {
    width: 100px;
    height: 40px;
    border-radius: 3px;
    background-color: rgb(40, 187, 11);
    border: solid 1px rgb(40, 187, 11);
    font-size: 13px;
    color: white;
    
    text-align:center;
    float:left

}

button.right-button:hover {
    background-color: rgb(14, 61, 4); 
    color: white;

}

button.wrong-button {
    position: relative; 
    left: 10px;
    width: 100px;
    height: 40px;
    border-radius: 3px;
    background-color: rgb(189, 27, 27);
    border: solid 1px rgb(189, 27, 27);
    font-size: 13px;
    color: white;

    text-align:center;
    float:left

}

button.wrong-button:hover {
    background-color: rgb(82, 7, 7); 
    color: white;

}

button:focus {
    outline: 0;
}



.wrong-feedback{
    display:flex;
    justify-content: center;

}

.select{
    background: rgba(201, 211, 204, 0.671);
    height: 30px;
    overflow: hidden;
    width: 240px;
    text-align:center;
    float:left
}

.select select{
    background: transparent;
    border: red;
    border-radius: 3px;
    font-size: 14px;
    height: 29px;
    padding: 1px; /* If you add too much padding here, the options won't show in IE */
    width: 268px;
}


button.submit-button1{
    width: 100px;
    height: 30px;
    margin-left:8px;
    /* border-radius: 3px; */
    /* background-color: grey(40, 187, 11); */
    border: solid 2px  rgba(172, 184, 176, 0.897);
    font-size: 15px;
    color: rgb(68, 67, 67);
    text-align:center;
    float:left
    left:20px;

}

button.submit-button1:hover {
    background-color:rgb(37, 143, 16); /* Green */
    color: white;

}

button:focus {
    outline: 0;
}
